/* My Styles */
* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  padding: 2%;
}
.wrapper {
  padding: 10% 5%;
  margin: auto;
  border: 1px solid lightblue;
}
.completed {
  text-decoration: line-through;
  color: #27ae60;
}
.button-danger {
  display: inline-block;
  padding: 2px 4px;
}
ul li {
  width: 100%;
  display: block;
  padding-bottom: 10px;
}
ul li button {
  float: right;
}

.active .completed {
  display: none;
}
.completed li {
  display: none;
}
.completed .completed {
  display: inline-block;
}
.todo-head {
  background-color: lightcoral;
}
.todo-body {
  background-color: peachpuff;
}
.todo-footer {
  display: flex;
  font-size: 1.2rem;
}
.todo-footer #view-toggles {
  flex: 1;
  background-color: tomato;
}
